### About the Dataset
#### Kaggle dataset : [Download The Dataset Here ](https://www.kaggle.com/bwandowando/ukraine-russian-crisis-twitter-dataset-1-2-m-rows/discussion/310030)

#### Description
This dataset contains 1.2M distinct tweets about the current ongoing Ukraine-Russia conflict.

Implementation
Two Jupyter notebooks running 24/7, executing every 15 mins monitoring hashtags pertaining to the ongoing Ukraine-Russia conflict. The dataset creator also implemented a simple "hashtag crawler" where the dataset creator crawled the top-most hashtags from an initial set of hashtags thus getting the other related hashtags at a given point in time.

In [1]:
import pandas as pd
!pip install django-cities-teryt

Requirement already satisfied: django-cities-teryt in c:\users\anadu\anaconda3\envs\pythondata\lib\site-packages (1.0.1)
Requirement already satisfied: Unidecode in c:\users\anadu\anaconda3\envs\pythondata\lib\site-packages (from django-cities-teryt) (1.3.4)
Requirement already satisfied: django-autoslug in c:\users\anadu\anaconda3\envs\pythondata\lib\site-packages (from django-cities-teryt) (1.9.8)
Requirement already satisfied: lxml in c:\users\anadu\anaconda3\envs\pythondata\lib\site-packages (from django-cities-teryt) (4.6.3)

In [2]:
tweets_df = pd.read_csv('resources/UkraineCombinedTweetsDeduped_MAR09.csv')
tweets_df.head()

C:\Users\anadu\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,userid,username,acctdesc,location,following,followers,totaltweets,usercreatedts,tweetid,tweetcreatedts,retweetcount,text,hashtags,language,coordinates,favorite_count,extractedts
0,4063693,788837738317426689,CurrySamurai,"Love peace, love family, and 🎮💻🎬🎂 - 3dcg appre...",Japan,586,247,3673,2016-10-19 20:22:27.000000,1501347676922675204,2022-03-09 00:02:34,0,Gm☕\nUkrainians can't even have a cup of coffe...,"[{'text': 'hope', 'indices': [197, 202]}, {'te...",ja,NaN,0,2022-03-09 00:09:20.158581
1,4063694,134354649,kcgt816,NaN,Midwest,649,115,3654,2010-04-18 05:22:06.000000,1501347677128339458,2022-03-09 00:02:34,948,#Ukraine: The Ukrainian forces captured three ...,"[{'text': 'Ukraine', 'indices': [15, 23]}]",en,NaN,0,2022-03-09 00:09:20.141641
2,4063695,16439659,chancesr,"SAG-AFTRA actor. Relentless environmentalist, ...",West Hollywood,2887,1437,26949,2008-09-24 19:38:52.000000,1501347677606268930,2022-03-09 00:02:34,10,"The banks, asset managers &amp; insurers finan...",[],en,NaN,0,2022-03-09 00:09:20.131810
3,4063696,1500098000609284100,FlaGolfr,#BlueVoices * #ONEV1 Z27 * #DemVoice1 A * #45...,NaN,247,111,187,2022-03-05 13:19:08.000000,1501347677744689153,2022-03-09 00:02:34,16,"Military and foreign policy experts say the ""Z...",[],en,NaN,0,2022-03-09 00:09:20.115286
4,4063697,1251660359766888450,philosophylinks,Bot retweeting interesting links from #philoso...,NaN,1,457,165121,2020-04-18 23:54:30.000000,1501347677942001665,2022-03-09 00:02:34,69,Watch Jeremy's full speech as part of yesterda...,"[{'text': 'Ukraine', 'indices': [102, 110]}]",en,NaN,0,2022-03-09 00:09:20.098682

In [3]:
tweets_df.tail()

,Unnamed: 0,userid,username,acctdesc,location,following,followers,totaltweets,usercreatedts,tweetid,tweetcreatedts,retweetcount,text,hashtags,language,coordinates,favorite_count,extractedts
493852,4557545,1496899801090347008,CryptoRodents,#nft #nftcollection #elrondnetwork #elrondnft ...,NaN,83,11,48,2022-02-24 17:29:17.000000,1501709414767775748,2022-03-09 23:59:59,2,https://t.co/IonRA5QhXc \nJust minted.\nMintin...,[],en,NaN,0,2022-03-10 00:04:46.403404
493853,4557546,3134644380,saadaldosari21,لَقَدْ جَاءَكُمْ رَسُولٌ مِّنْ أَنفُسِكُمْ عَز...,بلاد الحرمين,363,28295,117154,2015-04-03 08:19:38.000000,1501709414965067777,2022-03-09 23:59:59,0,الأمير وليام حفيد ملكة بريطانيا خلال زيارته لم...,"[{'text': 'روسيا', 'indices': [156, 162]}, {'t...",ar,NaN,1,2022-03-10 00:04:46.395478
493854,4557547,1496937668688687124,Anti_Arsehole,"Pro #Humanity, Anti #Asshole\n#Ukraine #Palest...",NaN,2,0,124,2022-02-24 19:58:57.000000,1501709415770214407,2022-03-09 23:59:59,0,"@DublinLive #russia can go feck themselves, an...","[{'text': 'russia', 'indices': [12, 19]}, {'te...",en,NaN,0,2022-03-10 00:02:16.777418
493855,4557548,1269774571336597504,houle_george,40 years in hotel resorts 3 security clearance...,NaN,974,188,1376,2020-06-07 23:35:11.000000,1501709416118243338,2022-03-09 23:59:59,61,Get the Effing clandestine #Logistics under gr...,"[{'text': 'Logistics', 'indices': [48, 58]}]",en,NaN,0,2022-03-10 00:02:16.761829
493856,4557549,751465175828619264,pigdev,"Indie gamedev, designer, and tutor.\n🎮Games & ...",Blockchain,351,3019,9639,2016-07-08 17:17:14.000000,1501709416609218561,2022-03-09 23:59:59,269,"Literally a no-brainer; About 1,000 creations ...",[],en,NaN,0,2022-03-10 00:04:46.387799

### Exploring the Data

In [4]:
# Columns if the df
tweets_df.columns

Index(['Unnamed: 0', 'userid', 'username', 'acctdesc', 'location', 'following',
       'followers', 'totaltweets', 'usercreatedts', 'tweetid',
       'tweetcreatedts', 'retweetcount', 'text', 'hashtags', 'language',
       'coordinates', 'favorite_count', 'extractedts'],
      dtype='object')

In [5]:
# Check for null values
tweets_df.isnull().sum()

Unnamed: 0             0
userid                 0
username               0
acctdesc          102159
location          205688
following              0
followers              0
totaltweets            0
usercreatedts          0
tweetid                0
tweetcreatedts         0
retweetcount           0
text                   0
hashtags               0
language               0
coordinates       493803
favorite_count         0
extractedts            0
dtype: int64

In [7]:
# total row count
len(tweets_df)

493857

In [8]:
# total number of tweets in English laguage (relevant to this project)
en_tweets_df = tweets_df[tweets_df['language']=='en']
len(en_tweets_df)

317359

In [11]:
# total number of tweets for which location is available
location_df = en_tweets_df['location'].isna().sum()
location_df

125195

In [13]:
# Take a look at the Tweeted text
#pd.set_option("max_rows", None)
en_tweets_df[['tweetid','text','location','tweetcreatedts','retweetcount']]

,tweetid,text,location,tweetcreatedts,retweetcount
1,1501347677128339458,#Ukraine: The Ukrainian forces captured three ...,Midwest,2022-03-09 00:02:34,948
2,1501347677606268930,"The banks, asset managers &amp; insurers finan...",West Hollywood,2022-03-09 00:02:34,10
3,1501347677744689153,"Military and foreign policy experts say the ""Z...",NaN,2022-03-09 00:02:34,16
4,1501347677942001665,Watch Jeremy's full speech as part of yesterda...,NaN,2022-03-09 00:02:34,69
7,1501347679170752518,Disappointed Biden won’t allow Germany to acce...,NaN,2022-03-09 00:02:35,1
...,...,...,...,...,...
493850,1501709413391863808,"In #Ukraine, Belarusians have created a separa...",Washington State ; Kentucky,2022-03-09 23:59:59,4674
493852,1501709414767775748,https://t.co/IonRA5QhXc \nJust minted.\nMintin...,NaN,2022-03-09 23:59:59,2
493854,1501709415770214407,"@DublinLive #russia can go feck themselves, an...",NaN,2022-03-09 23:59:59,0
493855,1501709416118243338,Get the Effing clandestine #Logistics under gr...,NaN,2022-03-09 23:59:59,61
493856,1501709416609218561,"Literally a no-brainer; About 1,000 creations ...",Blockchain,2022-03-09 23:59:59,269

In [14]:
# Ensure there are no Duplicate tweets in the dataset
len(en_tweets_df['tweetid'].unique())

317359

In [15]:
sample_tweets_dataset = en_tweets_df[(en_tweets_df['location'] == 'Poland') | (en_tweets_df['location'] == 'warsaw')| (en_tweets_df['location'] == 'Kraków') | (en_tweets_df['location'] == 'Łódź') | (en_tweets_df['location'] == 'Gdańsk') | (en_tweets_df['location'] == 'Wrocław') | (en_tweets_df['location'] == 'Poznań') | (en_tweets_df['location'] == 'Szczecin')  ]
sample_tweets_dataset

,Unnamed: 0,userid,username,acctdesc,location,following,followers,totaltweets,usercreatedts,tweetid,tweetcreatedts,retweetcount,text,hashtags,language,coordinates,favorite_count,extractedts
11062,4074755,195870194,nordicreporter,"News from Scandinavia, Poland and the Baltics....",Kraków,257,1571,14753,2010-09-27 19:38:41.000000,1501356386034278405,2022-03-09 00:37:10,0,Poland plays Russian roulette with its MiG-29 ...,"[{'text': 'Ukraine', 'indices': [94, 102]}, {'...",en,NaN,0,2022-03-09 00:45:51.943302
11589,4075282,461625667,jojus_jo,"woman, mother, Poland",Poland,949,202,4947,2012-01-12 00:45:03.000000,1501356737290543106,2022-03-09 00:38:34,727,"🥀In #Sumy, 16-year-old Artyom Pryimenko, the c...","[{'text': 'Sumy', 'indices': [18, 23]}, {'text...",en,NaN,0,2022-03-09 00:45:42.791647
22441,4086134,90516952,MarioRebeliant,Freedom fighter. Private opinions only.\nMy mo...,Poland,10990,9995,385206,2009-11-16 23:52:57.000000,1501365657237176326,2022-03-09 01:14:01,509,⚡️⚡️Fitch Ratings downgrades #Russia to 'C'\n\...,"[{'text': 'Russia', 'indices': [43, 50]}]",en,NaN,0,2022-03-09 01:23:58.802228
22894,4086587,90516952,MarioRebeliant,Freedom fighter. Private opinions only.\nMy mo...,Poland,10990,9995,385206,2009-11-16 23:52:57.000000,1501365992034906125,2022-03-09 01:15:21,236,❗️Central Bank of #Russia temporarily stops se...,"[{'text': 'Russia', 'indices': [32, 39]}]",en,NaN,0,2022-03-09 01:23:56.259439
27500,4091193,4838681854,ArekMichowski,🇺🇦 Glory to Ukraine. #StandWithUkraine\n🏳️‍🌈 S...,Poznań,359,30,4348,2016-01-23 14:11:43.000000,1501370496042033153,2022-03-09 01:33:15,83,#Taiwan's orchids #StandWithUkraine🇺🇦. https:/...,"[{'text': 'Taiwan', 'indices': [16, 23]}, {'te...",en,NaN,0,2022-03-09 01:45:40.708289
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
483917,4547610,75298295,Krakoskieciacho,NaN,Kraków,604,1162,33243,2009-09-18 14:51:32.000000,1501702468153090052,2022-03-09 23:32:23,69,Hilton and Hyatt suspend new hotel openings in...,"[{'text': 'Russia', 'indices': [61, 68]}]",en,NaN,0,2022-03-09 23:34:24.146732
484453,4548146,2312251010,marta5518,Demokracja❤ Swoboda❤ Wolność .\nДэмакратыя❤ Св...,Wrocław,549,121,25606,2014-01-26 18:08:31.000000,1501702683056611331,2022-03-09 23:33:14,158,#Czech Republic does not exclude the possibili...,"[{'text': 'Czech', 'indices': [14, 20]}]",en,NaN,0,2022-03-09 23:34:16.330225
486705,4550398,2312251010,marta5518,Demokracja❤ Swoboda❤ Wolność .\nДэмакратыя❤ Св...,Wrocław,550,121,25609,2014-01-26 18:08:31.000000,1501704404038303748,2022-03-09 23:40:04,269,"❗️Apple Pay, Google Pay and Samsung Pay are no...","[{'text': 'Russia', 'indices': [81, 88]}]",en,NaN,0,2022-03-09 23:47:07.858774
487810,4551503,156954878,Rman001,Pewnie lubię narty ;-),Poland,376,421,86252,2010-06-18 12:01:38.000000,1501705701512855552,2022-03-09 23:45:14,288,"❗️Apple Pay, Google Pay and Samsung Pay are no...","[{'text': 'Russia', 'indices': [81, 88]}]",en,NaN,0,2022-03-09 23:49:44.664708
488862,4552555,4228288820,0xA43,"He/him, #infosec guy, google dorker, #privacy ...",Poland,554,95,808,2015-11-13 23:05:50.000000,1501706121513422855,2022-03-09 23:46:54,919,#Ukrainian Foreign Ministry publishes a list o...,"[{'text': 'Ukrainian', 'indices': [14, 24]}, {...",en,NaN,0,2022-03-09 23:49:28.864409

In [16]:
usa_tweets_dataset = en_tweets_df[(en_tweets_df['location'] == 'USA')|(en_tweets_df['location'] == 'United States')|(en_tweets_df['location'] == 'united states') | (en_tweets_df['location'] == 'US')| (en_tweets_df['location'] == 'usa')| (en_tweets_df['location'] == 'us')]
usa_tweets_dataset.head()

,Unnamed: 0,userid,username,acctdesc,location,following,followers,totaltweets,usercreatedts,tweetid,tweetcreatedts,retweetcount,text,hashtags,language,coordinates,favorite_count,extractedts
19,4063712,1080287841563873281,myaiexpert1,#BuildBackBetter Facts NFTs & Democratized Too...,United States,1336,1308,48763,2019-01-02 02:21:06.000000,1501347685470588930,2022-03-09 00:02:36,36,1/2 Polish activists left a little gift in fro...,[],en,NaN,0,2022-03-09 00:09:19.834073
224,4063917,544147368,Smp7665,Born and raised in SoCal; retired court report...,United States,10327,10345,112078,2012-04-03 07:32:20.000000,1501347807503863811,2022-03-09 00:03:05,53,IN 13 DAYS PUTIN has LOST 3 GENERALS and dozen...,[],en,NaN,0,2022-03-09 00:09:16.805994
227,4063920,879144538362834948,carmelitequotes,Discalced Carmelite Secular sharing inspiratio...,United States,13941,13332,112046,2017-06-26 01:09:26.000000,1501347808233807872,2022-03-09 00:03:05,0,🇺🇦 #Ukraine #UPDATE The Discalced Carmelite Nu...,"[{'text': 'Ukraine', 'indices': [3, 11]}, {'te...",en,NaN,0,2022-03-09 00:09:16.781756
392,4064085,67169191,FluffySays,Resistance original! Family person. Despise ig...,USA,3590,4124,300831,2009-08-20 00:08:53.000000,1501347932947189760,2022-03-09 00:03:35,1,The Republicans wants us to forget their Russi...,"[{'text': 'Ukraine', 'indices': [97, 105]}]",en,NaN,0,2022-03-09 00:09:14.611983
442,4064135,1519868952,TreasonIsNotOk,Big M.M.A. fan! Love to read and frequently ha...,United States,7898,7221,88903,2013-06-15 16:56:31.000000,1501347960008884239,2022-03-09 00:03:42,64,The Kremlin's mouthpieces on #Russia's state T...,"[{'text': 'Russia', 'indices': [49, 56]}]",en,NaN,0,2022-03-09 00:09:13.764441

In [36]:
# reducing columns to export only essential columns
reduced_usa_tweets_dataset = usa_tweets_dataset.drop(columns=["Unnamed: 0","username","acctdesc","usercreatedts","tweetcreatedts","userid","hashtags","language","coordinates","hashtags","extractedts"])
reduced_usa_tweets_dataset.head()

,location,following,followers,totaltweets,tweetid,retweetcount,text,favorite_count
19,United States,1336,1308,48763,1501347685470588930,36,1/2 Polish activists left a little gift in fro...,0
224,United States,10327,10345,112078,1501347807503863811,53,IN 13 DAYS PUTIN has LOST 3 GENERALS and dozen...,0
227,United States,13941,13332,112046,1501347808233807872,0,🇺🇦 #Ukraine #UPDATE The Discalced Carmelite Nu...,0
392,USA,3590,4124,300831,1501347932947189760,1,The Republicans wants us to forget their Russi...,0
442,United States,7898,7221,88903,1501347960008884239,64,The Kremlin's mouthpieces on #Russia's state T...,0

In [37]:
reduced_usa_tweets_dataset['text'] = reduced_usa_tweets_dataset['text'].str.replace(',', '')
reduced_usa_tweets_dataset['text'] = reduced_usa_tweets_dataset['text'].str.replace('#', '')
reduced_usa_tweets_dataset

,location,following,followers,totaltweets,tweetid,retweetcount,text,favorite_count
19,United States,1336,1308,48763,1501347685470588930,36,1/2 Polish activists left a little gift in fro...,0
224,United States,10327,10345,112078,1501347807503863811,53,IN 13 DAYS PUTIN has LOST 3 GENERALS and dozen...,0
227,United States,13941,13332,112046,1501347808233807872,0,🇺🇦 Ukraine UPDATE The Discalced Carmelite Nuns...,0
392,USA,3590,4124,300831,1501347932947189760,1,The Republicans wants us to forget their Russi...,0
442,United States,7898,7221,88903,1501347960008884239,64,The Kremlin's mouthpieces on Russia's state TV...,0
...,...,...,...,...,...,...,...,...
493600,United States,572,154,1054,1501709276980649987,73400,"Little girl singing ""Let it go"" in a shelter\n...",0
493628,USA,121,278,6172,1501709294902800384,1729,Ukraine: The Ukrainian troops captured a Russi...,0
493669,United States,15,23,7625,1501709317313019905,3,Russia passes law: calling Ukraine invasion a ...,0
493700,United States,736,146,5249,1501709331724738565,2175,Ukrainian woman carried her old dog for more t...,0
493753,United States,380,85,1305,1501709358513721346,2175,Ukrainian woman carried her old dog for more t...,0

In [38]:
# extract the USA dataframe into a csv file
reduced_usa_tweets_dataset.to_csv('usa_tweets_dataset_cleaned.csv', index=False)

In [ ]:
tweets_by_loc = en_tweets_df[['location']].value_counts()
pd.set_option("display.max_rows", 20, "display.max_columns", None)
for items in tweets_by_loc.iteritems():
    print(items)

### Sentiment Analysis Roadmap:

#### 1.0 Clean Data
1.1 Keep relevant columns

1.2 Remove/Handle Nulls, NaNs

1.3 Remove/Handle Duplicates

#### 2.0 Pre-processing of the tweets
2.1 Split the text

2.2 Remove any symbols such as @,# etc (Option1 regex) [Example](https://catriscode.com/2021/03/02/extracting-or-removing-mentions-and-hashtags-in-tweets-using-python/)

2.3 Tokenize words

2.4 POS Tagging

2.5 Remove Stop Words

2.6 Vectorization .. TFIDF...